{layout name="layout" /}
<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> /
            <small>一些常用模块</small>
        </div>
    </div>

    <ul class="am-avg-sm-1 am-avg-md-5 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>总用户<br/>{$userCount}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>月活跃用户<br/>{$monthActiveUser}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>周活跃用户<br/>{$weekActiveUser}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>今日活跃用户<br/>{$dayActiveUser}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>月新增用户<br/>{$monthAddUser}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>周新增用户<br/>{$weekAddUser}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>今日新增用户<br/>{$dayAddUser}</a></li>
    </ul>

</div>
<!-- content end -->


