{layout name="layout" /}
<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> /
            <small>一些常用模块</small>
        </div>
    </div>

    <ul class="am-avg-sm-1 am-avg-md-5 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>总用户<br/>{$userCount}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>月活跃用户<br/>{$monthActiveUser}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>周活跃用户<br/>{$weekActiveUser}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>今日活跃用户<br/>{$dayActiveUser}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>月新增用户<br/>{$monthAddUser}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>周新增用户<br/>{$weekAddUser}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>今日新增用户<br/>{$dayAddUser}</a></li>
    </ul>

    <ul class="am-avg-sm-1 am-avg-md-5 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>月骑行单数<br/>{$monthCyclingOrderNumber}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>周骑行单数<br/>{$weekCyclingOrderNumber}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>今日骑行单数<br/>{$dayCyclingOrderNumber}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>月已支付单数<br/>{$monthPayOrderNumber}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>周已支付单数<br/>{$weekPayOrderNumber}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>今日已支付单数<br/>{$dayPayOrderNumber}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>月未支付单数<br/>{$monthNoPayOrderNumber}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>周未支付单数<br/>{$weekNoPayOrderNumber}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>今日未支付单数<br/>{$dayNoPayOrderNumber}</a></li>
    </ul>

    <ul class="am-avg-sm-1 am-avg-md-5 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>月应收金额<br/>{$monthReceivableMoney}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>周应收金额<br/>{$weekReceivableMoney}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>今日应收金额<br/>{$dayReceivableMoney}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>月实收金额<br/>{$monthPaidAmount}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>周实收金额<br/>{$weekPaidAmount}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>今日实收金额<br/>{$dayPaidAmount}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>月待收金额<br/>{$monthAmountToBeReceived}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>周待收金额<br/>{$weekAmountToBeReceived}</a></li>
        <li><a href="#" class="am-text-success"><span
                class="am-icon-btn am-icon-user-md"></span><br/>今日待收金额<br/>{$dayAmountToBeReceived}</a></li>
    </ul>

</div>
<!-- content end -->


