{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台管理系统模板HTML登录界面 - cssmoban</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <hr/>
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>登录</h3>
        <hr>

        <br>

        <form method="post" action="" class="am-form">
            {:token('token')}
            <label for="username">用户名:</label>
            <input type="text" name="username" id="username" value="" required>
            <br>
            <label for="secret">密码:</label>
            <input type="password" name="secret" id="secret" value="" required>
            <br/>
            <div class="am-cf">
                <input type="button" name="login" id="login" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl" >
            </div>
        </form>
        <hr>
        <p>Ai Yu© 版权所有.</p>
    </div>
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="__STATIC__/assets/js/polyfill/rem.min.js"></script>
    <script src="__STATIC__/assets/js/polyfill/respond.min.js"></script>
    <script src="__STATIC__/assets/js/amazeui.legacy.js"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="__STATIC__/assets/js/jquery.min.js"></script>
    <script src="__STATIC__/assets/js/amazeui.min.js"></script>
    <!--<![endif]-->
    <script src="__STATIC__/assets/js/app.js"></script>
    <script src="__STATIC__/assets/js/my/errCode.js"></script>
    <script >
        //登入
        const loginUrl = "<?php echo url('index/login/login'); ?>";
        const login = function () {  //login function
            $.ajax({
                url: loginUrl,
                type: 'post',
                dataType: 'json',
                timeout: 1000,
                async: true,   // 是否异步
                data: {
                    'name': $('#username').val(),
                    'secret': $('#secret').val(),
                    'token': $("input[name='token']").val()
                },
                success: function (data, status) {
                    var responseStatus = data.status;
                    if (!responseStatus) {
                        alertSuccessMsg(responseStatus, "<?php echo url('index/index/index'); ?>");
                    } else {
                        alertErrMsg(responseStatus, data.msg);
                    }
                },
                fail: function (err, status) {
                    console.log(err)
                }
            })
        };
        $('#login').click(login);

    </script>

</div>
</body>
</html>