<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">电子围栏管理</strong> /
            <small>详情</small>
        </div>
    </div>

    <div class="am-tabs am-margin" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li><a href="#tab2">电子围栏基本信息</a></li>
        </ul>

        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade" id="tab2">
                <form class="am-form">

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            围栏名称
                        </div>
                        <div class="am-u-sm-4">
                            <input type="text" class="am-input-sm" name="bicycle_number" id="bicycle_number" maxlength="20" required value="{$fence.name}" readonly>
                        </div>
                        <div class="am-u-sm-6"></div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            锁号
                        </div>
                        <div class="am-u-sm-4">
                            <input type="text" class="am-input-sm" name="lock_number" id="lock_number" maxlength="20" required value="" readonly>
                        </div>
                        <div class="am-u-sm-6"></div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<!-- content end -->
