
<footer>
    <hr>
    <p class="am-padding-left">Ai Yu© 版权所有.</p>
</footer>

<!--[if lt IE 9]>
<script src="__STATIC__/assets/js/polyfill/rem.min.js"></script>
<script src="__STATIC__/assets/js/polyfill/respond.min.js"></script>
<script src="__STATIC__/assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__STATIC__/assets/js/jquery.min.js"></script>
<script src="__STATIC__/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="__STATIC__/assets/js/app.js"></script>
<script src="__STATIC__/assets/js/my/errCode.js"></script>
<script src="__STATIC__/assets/js/my/session.js"></script>

</body>
</html>